@model CreateProductViewModel

@{
    Layout = "~/Views/Shared/_Index.cshtml";
    ViewData["Title"] = "Create Product";
}

<link rel="stylesheet" href="~/css/Style.css" />

@* <nav class="navbar"> *@
@*     <div class="navbar-brand"> *@
@*         <span class="app-name" id="app-name">Products Management System</span> *@

@*     </div> *@
@* </nav> *@
    
<h2>Create Product</h2>

<form asp-action="CreateProduct" method="post">
    <input type="hidden" asp-for="@Model.ProductId" />

    <div class="form-group">
        <label asp-for="@Model.Product.Name"></label>
        <input asp-for="@Model.Product.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Product.Description"></label>
        <textarea asp-for="@Model.Product.Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Product.Price"></label>
        <input asp-for="@Model.Product.Price" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Product.Status">Status</label>
        <select asp-for="@Model.Product.Status" class="form-control">
            @foreach (var status in Model.productStatuses)
            {
                <option value="@status">@status</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Product.CategoryId">Category</label>
        <select asp-for="@Model.Product.CategoryId" class="form-control">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.CategoryId">@category.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Product.ImageUrl"></label>
        <input asp-for="@Model.Product.ImageUrl" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
